
.imagen-logo {
    text-align: center;
    padding: 10px;
}
.kyco-logo img {
    width: 90px;
    height: 55px;
}

.mobile-equis {
    display: none;
}
nav {
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    flex-direction: row;
    
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
    padding: 0 20px;
    transform: .5s;
}

.nav-projects :hover {
    color: aqua;
}

.nav-company :hover {
    color: red;
}

.nav-contact :hover {
    color: yellow;
}

.nav-press :hover {
    color: green;
}

/* mobile*/

@media (max-width: 600px){
    .imagen-logo {
        padding: 5px;
        border-bottom: .1px solid grey;
        display: flex;
        justify-content: center;
    }
    .kyco-logo img {
        width: 50px;
        height: 25px;
        margin: 0 115px 0 140px;
    }
    .mobile-equis {
        display: flex;
         width: 20px;
    }
    nav {
        display: flex;
        justify-content: center;
    }
    nav ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        margin: auto;
        position: absolute;
        padding: inherit;
    }
    a {
        padding: 20px 0;
        border-bottom: .1px solid grey;
        text-align: center;
    }
}